# PRIMER AVANCE DEL PÍA

**Equipo:** 8

**Grupo:** 002 (Miercoles 7-10 pm)

**Integrantes:**

* 1872932 Huerta Torres Daniela Paola 

* 1855188 Aguilar Ortiz Verónica Vanessa  

* 1751125 Rodríguez Chaires Fernando Jahir  

* 1857876 Jalomo Hernández Miguel Ángel

## BASE DE DATOS PRINCIPAL

* **Nombre:** Manila Traffic Incident Data
* **URL:** https://www.kaggle.com/esparko/mmda-traffic-incident-data

### Introducción
Según estudios, se diagnostico a la capital de Filipinas, como la ciudad con el peor tráfico del planeta, según el Indice Global de Satisfacción del Conductor, un estudio de Waze, la popular aplicación de tráfico y navegación.

El desmesurado crecimiento urbano y la falta de inversión en el transporte público ha hecho de Manila una de las metrópolis con peor tráfico del mundo, lo que se ha convertidoen una pesadilla para sus 15 millones de habitantes.

Algo que hay que destacar, es uno de los problemas básicos en Manila es que el Gobierno está inviertiendo dinero en contruir nuevas carreteras y mejorar otras, cuando en realidad lo que hay que hacer es desarrollar el sistema de transporte publico; esto fue algo que menciono Efe Julia Nebrija, experta en planificación urbana en Filipinas.

A través de la siguiente analísis daremos a conocer el resultado de esta problematica el cual hace referencia a los incidentes de trafico que hay en Manila, tratando de dar una alarma ante las necesidades de la población para disminuir estos incidentes.

Es así que mediante la herramienta python, daremos apoyo ante esta investigación con los datos de la base de datos proporcionada, guiandonos a un enfoque a la relación que hay de los accidentes por ciudad o distrito de zona metropolitana.

### Descripción de datos
* **Tipo de dato:** Tabla con los registros de los incidentes vehicular sicedidos en Manila
* **Descripción de las columnas:** Nuestra tabla cuenta con 13 clumnas
  * **Date:** Esta columna cuenta con datos del tipo fecha la cual abarca de 20 de agosto del 2018, 
  hasta el 27 de diciembre del 2020
  * **Time:** Tiene datos del tipo tiempo, nos indica la hora en que ocurrio el accidente
  * **City:** Tiene datos del tipo texto, y contiene el nombre de las ciudades donde ocurrio el accidentre dentro de Manila
  * **Location:** Tiene datos del tipo texto, y contiene el nombre de la localidad en que ocurre el accidente
  * **Direction:** Tiene datos del tipo texto, nos indica la direccion del accidente.
  * **Type:** Contiene datos de tipo texto, indicando el tipo de accidente que ocurrio
  * **Involved:** Datos de tipo texto, nos proporciona el depo de vehiculo involucrado
  * **Tweet:** Datos de tipo texto largo, nos indica la fuente de donde se obtuvo el registro del accidente
  * **High Accuracy:** Datos de tipo entero, nos indica la precision del accidente
  * **Latitude, Longitude, Lanes Blocked:** Datos del tipo flotante, la latitud y longitud nos puede ayudar a indicar donde mas exactamente ocurrio el accidente. Mientras que la otra columna nos indica los carriles que se bloquearon por el accidente.

### Justificación de uso de datos
* **¿Por que trabajar con ellos?** Nos sorprendio que hubiera una base de datos dedicada solamente al trafico que hay en Manila, a lo cual nos dimos a la tarea de investigar, y nos sorprendio que evidentemente Manila cuenta con el peor trafico y ver que cuenta con una numerosa cantidad de accidentes y que ese problema no sea atendido es alarmante. Con este conjunto de datos podremos observar e investigar la tendencia de los datos, para conocer en que lugares es mas frecuente que ocurra un accidente y dando una mejor visualización.
* **¿Cuál es el beneficio en trabajar con estos datos?** Al nosotros darnos la tarea de ver en que zonas tiende a tener mas accidentes, tratar de darlo a conocerlo y ver por que sucede eso, a que se debe, y darle una solución para disminuir la cantidad de accidentes en aquellas zonas.

### Objetivo final
El **objetivo principal** es dar a conocer las zonas con las frecuencia de incidentes dentro de Metro Manila

### Preguntas de interés

* ¿En qué ciudad o distrito de la zona metropolitana de Manila estas más propenso a tener un accidente?
* ¿Qué tipo de vehículo es mas propenso a un accidente en Manila?
* Con los cambios realizados por el gobierno ¿Se han disminuido los accidentes con el tiempo?
* ¿Qué personas son más propensas en los accidentes?
* ¿Un turista es igual de propenso de tener un accidente en la ciudad?

### Parte de programación
Transportamos nuestra base de datos de nombre data_mmda_traffic_spatial.csv, la cual se muestra acontinuación siendo estos los datos aun sin manipulación.

In [10]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv("C:/Users/Daniela/Desktop/Daniela/Facultad/7mo sem/Mineria/AVANCE PIA/BASE 1/data_mmda_traffic_spatial.csv")

In [8]:
print("La base de datos original es:")
df

La base de datos original es:

,Date,Time,City,Location,Latitude,Longitude,High_Accuracy,Direction,Type,Lanes_Blocked,Involved,Tweet,Source
0,2018-08-20,7:55 AM,Pasig City,ORTIGAS EMERALD,14.586343,121.061481,1,EB,VEHICULAR ACCIDENT,1.0,TAXI AND MC,MMDA ALERT: Vehicular accident at Ortigas Emer...,https://twitter.com/mmda/status/10313302019705...
1,2018-08-20,8:42 AM,Mandaluyong,EDSA GUADIX,14.589432,121.057243,1,NB,STALLED L300 DUE TO MECHANICAL PROBLEM,1.0,L300,MMDA ALERT: Stalled L300 due to mechanical pro...,https://twitter.com/mmda/status/10313462477459...
2,2018-08-20,9:13 AM,Makati City,EDSA ROCKWELL,14.559818,121.040737,1,SB,VEHICULAR ACCIDENT,1.0,SUV AND L300,MMDA ALERT: Vehicular accident at EDSA Rockwel...,https://twitter.com/mmda/status/10313589669896...
3,2018-08-20,8:42 AM,Mandaluyong,EDSA GUADIX,14.589432,121.057243,1,NB,STALLED L300 DUE TO MECHANICAL PROBLEM,1.0,L300,MMDA ALERT: Stalled L300 due to mechanical pro...,https://twitter.com/mmda/status/10313590696535...
4,2018-08-20,10:27 AM,San Juan,ORTIGAS CLUB FILIPINO,14.601846,121.046754,1,EB,VEHICULAR ACCIDENT,1.0,2 CARS,MMDA ALERT: Vehicular accident at Ortigas Club...,https://twitter.com/mmda/status/10313711248424...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17307,2020-12-27,12:59 PM,Manila,QUIRINO GUAZON PETRON,14.585503,120.993783,1,SB,VEHICULAR ACCIDENT,1.0,MOTORCYCLE,MMDA ALERT: VEHICULAR ACCIDENT AT QUIRINO GUAZ...,https://twitter.com/mmda/status/13430604432589...
17308,2020-12-27,3:08 PM,Makati City,EDSA ESTRELLA,14.559818,121.040737,1,NB,STALLED VAN DUE TO TIRE PROBLEM,1.0,VAN,MMDA ALERT: STALLED VAN DUE TO TIRE PROBLEM AT...,https://twitter.com/mmda/status/13430967348098...
17309,2020-12-27,3:23 PM,Quezon City,EDSA P TUAZON FLYOVER,14.616404,121.052548,1,SB,VEHICULAR ACCIDENT,1.0,CAR AND MOTORCYCLE,MMDA ALERT: VEHICULAR ACCIDENT AT EDSA P. TUAZ...,https://twitter.com/mmda/status/13430968412152...
17310,2020-12-27,7:46 PM,Quezon City,ORTIGAS AVE EDSA POEA,14.593548,121.058028,1,WB,STALLED MULTICAB DUE TO MECHANICAL PROBLEM,1.0,MULTICAB,MMDA ALERT: STALLED MULTICAB DUE TO MECHANICAL...,https://twitter.com/mmda/status/13431795574073...
17311,2020-12-27,9:39 PM,Manila,LEGARDA STA CATALINA COLLEGE,14.600902,120.997352,1,WB,VEHICULAR ACCIDENT,1.0,MOTORCYCLE,MMDA ALERT: VEHICULAR ACCIDENT AT LEGARDA STA....,https://twitter.com/mmda/status/13431936109723...

Ahora, como ya mencionamos el enfoque que le queremos dar a esta base de datos, tuvimos que retirar ciertas columnas que creemos inecesarias para nuestro proyecto. Dejamos la fecha para asi despues generar un resgistro de los accidentes que hubo entre los intervalos de tiempo, la ciudad y locación para después generar el estudio de la frecuencia de incidentes en Manila, la latitud y longitud para ser mas exactos donde se genero el accidente, y el tipo de automovil y vehiculos involucrados, para saber que tipo de población es la que mas frecuenta a los accidentes.

In [5]:
df.rename(columns={'Date':'Fecha','City':'Ciudad','Location':'Locación','Latitude':'Latitud','Longitude':'Longitud','Type':'Tipo de automovil','Involved':'Vehiculos Involucrados'},inplace=True)
#Modifica los nombres de las columnas, con ayuda de: https://www.analyticslane.com/2019/05/06/como-cambiar-el-nombre-de-las-columnas-en-pandas/
cf=df.drop(['Time','Direction','High_Accuracy','Lanes_Blocked','Tweet','Source'],axis=1) #Guarda la base que necesitamos en otra variable
#Con ayuda de: https://www.analyticslane.com/2019/03/25/como-eliminar-columnas-y-filas-en-un-dataframe-pandas/
cf

,Fecha,Ciudad,Locacion,Latitud,Longitud,Tipo de automovil,Vehiculos Involucrados
0,2018-08-20,Pasig City,ORTIGAS EMERALD,14.586343,121.061481,VEHICULAR ACCIDENT,TAXI AND MC
1,2018-08-20,Mandaluyong,EDSA GUADIX,14.589432,121.057243,STALLED L300 DUE TO MECHANICAL PROBLEM,L300
2,2018-08-20,Makati City,EDSA ROCKWELL,14.559818,121.040737,VEHICULAR ACCIDENT,SUV AND L300
3,2018-08-20,Mandaluyong,EDSA GUADIX,14.589432,121.057243,STALLED L300 DUE TO MECHANICAL PROBLEM,L300
4,2018-08-20,San Juan,ORTIGAS CLUB FILIPINO,14.601846,121.046754,VEHICULAR ACCIDENT,2 CARS
...,...,...,...,...,...,...,...
17307,2020-12-27,Manila,QUIRINO GUAZON PETRON,14.585503,120.993783,VEHICULAR ACCIDENT,MOTORCYCLE
17308,2020-12-27,Makati City,EDSA ESTRELLA,14.559818,121.040737,STALLED VAN DUE TO TIRE PROBLEM,VAN
17309,2020-12-27,Quezon City,EDSA P TUAZON FLYOVER,14.616404,121.052548,VEHICULAR ACCIDENT,CAR AND MOTORCYCLE
17310,2020-12-27,Quezon City,ORTIGAS AVE EDSA POEA,14.593548,121.058028,STALLED MULTICAB DUE TO MECHANICAL PROBLEM,MULTICAB
17311,2020-12-27,Manila,LEGARDA STA CATALINA COLLEGE,14.600902,120.997352,VEHICULAR ACCIDENT,MOTORCYCLE

In [38]:
df.isnull().any()

Fecha                     False
Time                       True
Ciudad                     True
Locacion                   True
Latitud                   False
Longitud                  False
Alta Precision            False
Direction                  True
Tipo de automovil          True
Lanes_Blocked              True
Vehiculos Involucrados     True
Tweet                     False
Source                    False
dtype: bool

In [12]:
df.dtypes #Defininos el tipo de datos que manejamos en nuestr base

Date              object
Time              object
City              object
Location          object
Latitude         float64
Longitude        float64
High_Accuracy      int64
Direction         object
Type              object
Lanes_Blocked    float64
Involved          object
Tweet             object
Source            object
dtype: object

In [13]:
cf.isnull().sum() #Comprobando datos faltantes

Fecha                       0
Ciudad                    187
Locacion                   23
Latitud                     0
Longitud                    0
Tipo de automovil          57
Vehiculos Involucrados    432
dtype: int64

In [42]:
cf['Ciudad'].fillna(0,inplace=True)
cf['Locacion'].fillna(0,inplace=True)
cf['Tipo de automovil'].fillna(0,inplace=True)
cf['Vehiculos Involucrados'].fillna(0,inplace=True)

In [43]:
cf.to_csv("NuevaBaseAccidentes.csv",index=False)
#Lugar donde obtuvimos la ayuda: https://aprendeia.com/limpieza-y-procesamiento-de-datos-con-codigo-en-python/

## BASE DE DATOS SECUNDARIA

* **Nombre:** Conjunto de datos de predicción de accidentes cerebrovasculares
* **URL:** https://www.kaggle.com/fedesoriano/stroke-prediction-dataset/tasks?taskId=3281

### Introducción
Según la Organización Mundial de la Salud (OMS), el accidente cerebrovascular es la segunda causa principal de muerte a nivel mundial, responsable de aproximadamente el 11% del total de muertes, los que sobreviven corren el riesgo de contar con alguna anomalía como lo es problemas emocionales, problemas del habla, paralitica, perdida de memoria, etc. 

Existen varias formas de advertir que se esta sufriendo un accidente cerebrovascular. En la base de datos, cada fila y columna proporciona información relevante sobre el tipo de paciente que cuenta con este problema.

Este conjunto de datos se utiliza para predecir si es probable que un paciente sufra un accidente cerebrovascular en función de los parámetros de entrada como el sexo, edad, enfermedades, tabaquismo, etc. La mayoría de los accidentes cerebrovasculares se producen en personas de mayor edad, y la mayoría ocurre sin advertencia previa.

### Descripción de datos
* **Id:** Identificación única.
* **Género:** Masculino, Femenino u otro.
* **Edad:** Edad del paciente.
* **Característica binaria de hipertensión:** Si el paciente cuenta con hipertensión = 1, si no cuenta con hipertensión = 0.
* **Característica binaria de enfermedad cardíaca:** Si el paciente cuenta con una enfermedad cardíaca = 1, si el paciente no cuenta con una enfermedad cardíaca = 0.
* **¿El paciente ha estado casado alguna vez?:** Estatus marital (cierto u falso).
* **Tipo de trabajo del paciente:** Tipo de empleo (Privado, Cuenta propia, etc.)
* **Tipo de residencia del paciente:** Rural o Urbano.
* **Nivel medio de glucosa en sangre:** Nivel medio de glucosa en sangre de una persona.
* **Índice de masa corporal:** Índice de masa corporal de una persona.

### Justificación de datos
• **¿Por qué trabajar con ellos?**
Los accidentes cerebrovasculares son muy importantes, y es oportuno saber anticipadamente si estos se pueden prevenir, por lo que, en base a la investigación del tema y los datos proporcionados por la base de datos, con este tipo de información nos podemos enfocar en que tipo de personas en base a la edad, genero y el tipo de residencia es la que es mas predecible que sufra una lesión cerebrovascular y así anticiparnos a la causa.

• **¿Qué beneficio obtenemos al trabajar con estos datos?**
Se puede apreciar que tipo de pacientes son los que comúnmente tienden a tener un problema cerebrovascular en base a sectores como lo son la edad, el genero, tipo de residencia y así como saber si el que tenga otras enfermedades tenga que ver con la causa del problema cerebrovascular, o descartar datos que nos lleven a la causa misma.

### Objetivo final
Realizar una predicción de los accidentes cardiovasculares en cualquier momento de la vida de una persona.

### Preguntas de interés
•	¿En qué rango de edades es más propenso que las personas sufran un accidente cerebrovascular?

•	¿Qué sexo es el mas común en sufrir un accidente cerebrovascular?


•	En base a la información del tabaquismo ¿Es importante enfocarnos primero en las personas que fuman o no lo es?

•	¿Una persona que fuma es igual de propensa a tener una enfermedad cerebrovascular que una que no fuma?


•	¿Por qué los pacientes con residencia Rural tienen casi el mismo porcentaje de accidentes cerebrovasculares que los pacientes con Residencia Urbana?

In [1]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv("C:/Users/Daniela/Desktop/Daniela/Facultad/7mo sem/Mineria/AVANCE PIA/BASE 2/healthcare-dataset-stroke-data.csv")

In [2]:
print("La base de datos original es:")
df

La base de datos original es:

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

Para el enfoque que le queremos dar a nuestra investigación. decidimos dejar las columnas que nosotros pensamos que mas influyen al diagnosticar un problema cerebrovascular, como lo es la edad, la hipertensión y estar enfermo del corazón. Tambien se nos hizo interesante dejar del sexo para hacer un estudio de ambos y ver a que población afecta más.

In [3]:
df.rename(columns={'id':'ID','gender':'Sexo','age':'Edad','hypertension':'Hipertensión','heart_disease':'Enfermo del corazon','avg_glucose_level':'Nivel de glucosa','bmi':'IMC','smoking_status':"Estado respecto a si fuma"},inplace=True)
#Modifica los nombres de las columnas, con ayuda de: https://www.analyticslane.com/2019/05/06/como-cambiar-el-nombre-de-las-columnas-en-pandas/
cf=df.drop(['ever_married','work_type','Residence_type','stroke'],axis=1) #Guarda la base que necesitamos en otra variable
#Con ayuda de: https://www.analyticslane.com/2019/03/25/como-eliminar-columnas-y-filas-en-un-dataframe-pandas/

In [4]:
cf

,ID,Sexo,Edad,Hipertensión,Enfermo del corazon,Nivel de glucosa,IMC,Estado respecto a si fuma
0,9046,Male,67.0,0,1,228.69,36.6,formerly smoked
1,51676,Female,61.0,0,0,202.21,NaN,never smoked
2,31112,Male,80.0,0,1,105.92,32.5,never smoked
3,60182,Female,49.0,0,0,171.23,34.4,smokes
4,1665,Female,79.0,1,0,174.12,24.0,never smoked
...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,83.75,NaN,never smoked
5106,44873,Female,81.0,0,0,125.20,40.0,never smoked
5107,19723,Female,35.0,0,0,82.99,30.6,never smoked
5108,37544,Male,51.0,0,0,166.29,25.6,formerly smoked
5109,44679,Female,44.0,0,0,85.28,26.2,Unknown

In [5]:
#Los datos nulos se encuentran en la columna de IMC
df.isnull().any()

ID                           False
Sexo                         False
Edad                         False
Hipertensión                 False
Enfermo del corazon          False
ever_married                 False
work_type                    False
Residence_type               False
Nivel de glucosa             False
IMC                           True
Estado respecto a si fuma    False
stroke                       False
dtype: bool

In [6]:
#En la base de datos hay un total de 201 datos nulos
cf.isnull().sum()

ID                             0
Sexo                           0
Edad                           0
Hipertensión                   0
Enfermo del corazon            0
Nivel de glucosa               0
IMC                          201
Estado respecto a si fuma      0
dtype: int64

In [7]:
cf['IMC'].fillna(0,inplace=True)

In [8]:
cf.to_csv("NuevaBaseCerebrovascular.csv",index=False)
#Lugar donde obtuvimos la ayuda: https://aprendeia.com/limpieza-y-procesamiento-de-datos-con-codigo-en-python/